{% extends 'usuarios/base.html' %}

{% block title %}Créditos{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h3 class="mb-0">🎓 Créditos del Sistema</h3>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Universidad Mariano Gálvez de Guatemala</h4>
                    <h5 class="text-muted">Facultad de Ingeniería en Sistemas</h5>
                </div>
                
                <hr>
                
                <div class="row">
                    <div class="col-md-6">
                        <h6>👨‍💻 Desarrollado por:</h6>
                        <ul class="list-group mb-3">
                            <li class="list-group-item">[Tu Nombre Completo]</li>
                            <li class="list-group-item">[Tu Carnet]</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h6>📚 Curso:</h6>
                        <ul class="list-group mb-3">
                            <li class="list-group-item">Desarrollo Web - Sección 4</li>
                            <li class="list-group-item">Ing. Iván Antonio de León Fuentes</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6>📋 Examen:</h6>
                        <ul class="list-group mb-3">
                            <li class="list-group-item">Recuperación - Segundo Semestre 2025</li>
                            <li class="list-group-item">Fecha: 20/11/2025</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h6>⚙️ Tecnologías:</h6>
                        <ul class="list-group mb-3">
                            <li class="list-group-item">Django 4.2</li>
                            <li class="list-group-item">Bootstrap 5</li>
                            <li class="list-group-item">SQLite</li>
                        </ul>
                    </div>
                </div>
                
                <div class="alert alert-success mt-4 text-center">
                    <h5 class="mb-0">✅ ¡Sistema desarrollado con Django!</h5>
                    <p class="mb-0">Funcionalidades completas implementadas</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}